
:root {
    --bg1: rgba(40,39,44,1);
    --ts: rgba(255,255,255,1);
    --tc: rgba(178,178,178,1);
    --btn1: rgba(255, 0, 0, 1);
}/*root dla sekcji z service*/
* {
    box-sizing: border-box;
}

.container {
    width: 1088px;
    margin: 0 auto;
}

body {
    font-family: 'Nunito Sans', 'Open Sans', sans-serif;
}

.container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    border: 2px rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 0, 0.4);
    width:1550px

}

.logo-title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    padding: 10px;

}

span {
    color: red;
}

.page-nav-list {
    display: flex;
}
.page-nav-list li {
    margin-left: 5px;
}
.page-nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 22px;
    font-size: 20px;

}

.banner {
    height: calc(100vh - 27px);
    background-image: url("../images/Image.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
 .banner_content {
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column;

}
.banner_content span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-family: "Nunito Sans", cursive;
    text-transform: uppercase;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    margin-top: 200px;


}
.banner_content p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 40px 180px;



}
.btn-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;


}
.btn1 {
    background-color: #ff0000;
    color: #fff;
    padding: 30px 60px;
    border-radius: 40px;
    margin: 0 30px;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(255, 0, 0, 0.3);

}
.btn2 {
    background-color: #fff;
    color: #ff0000;
    padding: 30px 60px;
    border-radius: 40px;
    margin: 30px;
    text-decoration: none;
}
/*koniec pierwszej czesci banner + logo*/
.arrow { /*strzalka*/
    align-self: center;
}
.arrow::after {
    content:"";
    background-image: url("../images/Icon_Arrow_Down.svg");
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    bottom: -27px;
    display: block;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 35px;
    padding: 70px;
    text-transform: uppercase;



}
.title::before,
.title::after {
    content: "";
    display: block;
    height: 3px;
    background: red;
    width: 50px;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(255, 0, 0, 0.3);
/*kod do kresek w tytule Blog*/

}

.article {     /*sekcja z blogiem*/
    text-align: left;
    max-width: 300px;
}
.article-photo {
    width: 352px;
    height: 234px;
    margin: 0 20px 40px 0;
    display: block;
    overflow: hidden;

}
.article-photo-img {
    width: 100%;
    height: 100%;
}
.article-title-blog {
    color: rgba(106, 106, 106, 1);
    text-transform: uppercase;
    font-weight: 600;
    margin: 30px auto;
    font-size: 19px;
}
.article-text-blog {
    color: rgba(106, 106, 106, 1);
    margin: 0 120px 30px 0;
    font-family: "Open Sans", cursive;
    font-size: 16px;


}
.article-btn {
    padding: 20px 40px;
    background-color: #FF0000;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(255, 0, 0, 0.3);

}
.page-blog .container-blog {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}  /* koniec sekcji z blogiem*/

.container-service {  /*sekcja z service */
    width: 1366px;
    margin: 0 auto;

}

.banner-service-title {
    text-transform: uppercase;
    font-size: 35px;
    color: var(--ts);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.page-content-service {
    background-color: var(--bg1);
    padding: 80px 0;

}
.page-content-service .container-service {
    display: flex;
    justify-content: space-between;

}
.article-service1 {
    width: 290px;
    text-align: center;

}
.article-service-title {
    font-size: 19px;
    font-weight: 600;
    color: var(--tc);
    margin-top: 20px;
    height: 26px;
    opacity: 1;
}
.article-des {
    font-size: 14px;
    font-weight: 600;
    color: var(--tc);
    margin: 20px 30px 0 30px;
    height: 80px;
    font-family: "Nunito Sans", cursive;
    opacity: 1;


}
.article-btn-service {
    display: inline-block;
    border-radius: 40px;
    background-color: var(--btn1);
    text-decoration: none;
    padding: 15px 45px;
    text-transform: uppercase;
    color:#fff;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(255, 0, 0, 0.3);
}
.img-box img {
    width: 170px;
    height: 170px; /*zmniejszenie obrazkow*/
}

.banner-service-title::before,
.banner-service-title::after {
    content: "";
    display: block;
    height: 3px;
    background: red;
    width: 50px;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(255, 0, 0, 0.3);
}
/*sekcja z contact*/

.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 35px;
    font-weight: bold;

}
.contact-title::before,
.contact-title::after {
    content: "";
    display: block;
    height: 3px;
    background: red;
    width: 50px;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(255, 0, 0, 0.3);
    margin: 0 5px 0 5px;
}
.contact {
    margin-bottom: 80px;
}
.contact-content {
    display: flex;
}
.contact-image {
    margin-right: 20px;
    width: 444px;
    height: 316px;
    display: flex;
}

.contact-form form {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
[type="text"],
[type="email"],
textarea {
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    width: 444px;
    padding: 10px;
    margin: 10px 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    color: #B2B2B2;
}
[type="text"] {
    margin-top: 0;
}
[type="text"]:focus,
[type="email"]:focus,
textarea:focus,
[type="checkbox"] {
    border: 1px solid red;
    box-shadow: 0 3px 6px darkgrey;
}
textarea {
    min-height: 140px;
}
[type="checkbox"] + span {
    width: 22px;
    height: 22px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    display: block;
    flex-shrink: 0;
    margin-right: 10px;
}
[type="checkbox"] {
    visibility: hidden;
    position: absolute;
}
[type="checkbox"]:checked + span {
    background-image: url("../images/Icon Check.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.checkbox-text {
    font-size: 10px;
    font-weight: lighter;
    color: #B2B2B2;
    flex-shrink: 1;
}
.checkbox-container {
    width: 440px;
    margin-bottom: 10px;
    display: flex;
}
.checkbox-position {
    display: flex;
}
.send-btn {
    padding: 10px 40px;
    background-color: transparent;
    color: red;
    border: 1px solid red;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.send-btn:focus,
.send-btn:hover {
    color: red;
    border: 1px solid red;
    box-shadow: red;
}

.page-footer {
    height: 233px;
    background-color: #28272C;
    padding: 50px;



}
.footer-logo {
    text-transform: uppercase;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-size: 25px;
    height: 34px;
    display: flex;
    margin-left: 140px;


}
.page-footer-nav a {
     color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    margin-left: 90px;
 }
.page-footer-nav-list1 {
    margin: 40px 50px 0 50px;
}
.page-footer-nav-list2 {
    margin: 40px 50px 0 50px;
}
.container-footer {
    display: flex;
    justify-content: left;
}
.copyright {
    font-size: 12px;
    color: #D1D1D1;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: -15px;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;

}
.contact-content {
    display: flex;
}
